html, body {
}

body {
  background: none;
  background-size: 80%;
  background-color: #fefefe;
  position: relative;
  overflow: scroll;
  font-family: courier;
}

body  a {
  color: #59626a;
  text-decoration: none;
}

  body a:hover, body a:focus {
    color: #83939D;
  }


#page-header {
  padding-left: 10px;
  margin-bottom: 7px;
  letter-spacing: 1px;
  font-size: 2.5em;
  line-height: 1.35em;
  color: rgb(140, 20, 140);
  background-color: rgba(230, 245, 0, 0.7);
}



#other-header {
  background-color: #fefefe; padding: 3px;
  height: auto; position: fixed; opacity: 0.9;
  margin-right: 0px; width: 100%; border-bottom: 1px solid #474747;
}

#top-bar {
  background-color: #fefefe; height: inherit; position: relative; width: 100%; padding: 5px;
}

#nav-bar {
  position: fixed;
  right: 10px;
  top: 0px;
  padding: 0px;
  height: inherit;
}
.nav-bar-link {
  margin: 10px 0px; font-family: courier; font-weight: bold; font-size: 14px; float: left; padding: 5px;
}

.nav-bar-link a{
  color: black;
}

.nav-bar-link a:hover{
  color: #CC4422
}
.thing-header {
  font-size: 1.5em;
  color: #CC4422;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.thing-list {
  list-style: none;
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thing-hot {
	list-style: none;
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 5px;
	color: f00;
}

.thing-list li a {
  font-size: 25px;
  margin-right: 5px;
}

.thing-date {
  font-weight: bold;
}

.center {
  text-align: center;
}

.intro {
  color: rgb(30, 30, 30);
  font-size: 2em;
  left: 0px;
  top: 0px;
  padding: 0px;
}

.bar {
  border-top: 1px solid black; top: 5px;
}

#panel {margin: 0; padding: 10px; border: 0; background-color: #fefefe; color: #fff; font-size: 90%; overflow: auto; background-image: url(graph1.jpg); background-repeat: no-repeat; background-position:center; min-height: 200px;
}


.menu {
  background: #202024;
  left: -285px;
  top: inherit;
  height: inherit;
  position: fixed;
  width: 285px;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
}
