*
{
  margin: 0px;
  padding: 0px;
}
html
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 36px;
  background: #fff;
  color: #777;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* Temporary fix for chrome fucking up its own web fonts :( */
body
{
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}

@-webkit-keyframes fontfix{
  from{   opacity: 1; }
  to{ opacity: 1; }
}
/* fix end */
a
{
  color: #000;
  text-decoration: none;
}
a:hover
{
  color: #555;
}
img
{
  outline: 0;
  border: 0;
}
h1
{
  font-size: 36px;
  line-height: 36px;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
  letter-spacing: -2px;
}
h2
{
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

p
{
  margin-bottom: 30px;
}

.year
{
  float: right;
  margin:0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  font-style: italic;
  display: inline-block;
  line-height: 16px;
  margin-top: 18px;
  letter-spacing: 0px;
}

.menu
{
  padding: 10px 0;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.menu ul
{
  margin: 0px;
}

.menu li, .linkMenu li
{
  list-style: none;
  margin-left: 20px;
  float: right;
}

.linkMenu ul
{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 11px;
}

.linkMenu li
{
  margin-left: 10px;
  padding: 0;
  line-height: 12px;
}

.menu li a, .linkMenu li a
{
  color: #666;
  text-decoration: none;
}

.menu li a:hover, .linkMenu li a:hover
{
  color: #000;
}

.menu li a.active, .linkMenu li a.active
{
  color: #000;
  pointer-events: none;
  cursor: default;
}

.linkMenu
{
  padding: 5px 0;
  clear: right;
}

footer
{
  clear: right;
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #666;
}
footer a
{
  color: #000;
  outline: 0;
  text-decoration: none;
}
footer a:hover
{
  color: #333;
}

footer p
{
  padding: 0;
  margin: 0;
  float: right;
}

.workItem
{
  margin-right: 30px;
  margin-bottom: 30px;
}
.preloadBackground
{
  background-image: url("../images/ajaxLoader.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
#all
{
  position: relative;
  left: 0;
  top: 0;
  padding: 40px;
  padding-right: 20px;
}
#footerAndNavi
{
  float: right;
  margin-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#fullscreenTitle
{
  display: block;
  margin: 0;
  padding: 50px;
  padding-top: 50px;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  pointer-events: none;
  color: #000;
  font-size: 200px;
  line-height: 200px;
  font-weight: bold;
  letter-spacing: -10px;
  word-wrap:break-word;
  text-transform: normal;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  /*text-shadow: 10px 5px 0px rgba(255,255,255, 0.1), -10px -5px 0px rgba(255,255,255, 0.1);  */
}
.tagHolder
{
  margin-top:30px;
  line-height: 26px;
  font-size: 16px;
}
.tagHolder p
{
  display: inline;
  margin: 0px;
}
.textImageHolder
{
  margin-top: 11px;
}
.textImageHolder figcaption, .gallery figcaption, .imageTable figcaption
{
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0px;
  margin-top: 9px;
  padding: 0px;
  line-height: 18px;
  text-align: left;
}
.blockImageHolder
{
  padding: 0;
  margin: 0;
  margin-top: 40px;
}
.centerWrapper
{
  display: block;
  margin: 0px auto;
  margin-top: 40px;
  line-height: 0px;
  position: relative;
}
.imageTable
{
  text-align: center;
}
.imageTable .textImageHolder
{
  margin-top: 0px;
}
.imageTable figcaption
{
  line-height: 36px;
  top: -30px;
  position: relative;
  display: inline;
}
.textImageRight
{
  float: right;
  margin-left: 40px;
}
.textImageLeft
{
  float: left;
  margin-right: 40px;
}
.textImageTable
{
  display: inline-block;
  margin-bottom: 40px;
  margin-right: 40px;
}
.textImageCenter
{
  margin: 0 auto;
  margin-top: 40px;
}
.clearfix
{
    display: block;
    height: 0;
    padding: 0;
    margin: 0;
    clear: both;
    visibility: hidden;
}
.content
{
  padding-right: 20px;
  text-align: justify;
}
.lazyLoad
{
  visibility: hidden;
}
.smallText, .smallTextRight, ul
{
  margin: 0px;
  padding: 0px;
  line-height: 26px;
  font-size: 16px;
}
ul
{
  list-style: none;
  margin-bottom: 30px;
}
.smallTextRight
{
  float: right;
}
.galleryHolder
{
  position: relative;
  overflow: hidden;
}
.fluid-width-video-wrapper
{
  margin-top: 40px;
}
.galleryHolder figure
{
  position: absolute;
  left: 0;
  top: 0;
}
.galleryHolder figure:hover
{
  cursor: pointer;
}

/* mobile */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  body
  {
    -webkit-text-size-adjust: auto;
    font-size: 40px;
    line-height: 72px;
  }

  h1
  {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
  h2
  {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  p, ul
  {
    margin-bottom: 50px;
  }

  .year
  {
    font-size: 32px;
    line-height: 32px;
    margin-top: 0px;
    float: none;
    display: block;
  }

  .menu ul
  {
    font-size: 32px;
    line-height: 36px;
  }

  .linkMenu ul
  {
    font-size: 22px;
  }

  .linkMenu li
  {
    line-height: 50px;
  }

  footer
  {
    font-size: 22px;
  }

  .smallText, .smallTextRight, ul, .tagHolder
  {
    line-height: 52px;
    font-size: 32px;
  }

  .textImageHolder figcaption, .gallery figcaption, .imageTable figcaption
  {
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
  }

  .blockImageHolder
  {
    margin-top: 60px;
  }
  .centerWrapper
  {
    margin-top: 60px;
  }
  .imageTable figcaption
  {
    line-height: 50px;
    top: -45px;
  }
  .textImageRight
  {
    margin-left: 60px;
  }
  .textImageLeft
  {
    float: left;
    margin-right: 60px;
  }
  .textImageTable
  {
    margin-bottom: 60px;
    margin-right: 60px;
  }
  .textImageCenter
  {
    margin-top: 60px;
  }
  .fluid-width-video-wrapper
  {
    margin-top: 60px;
  }
}
